body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* global */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

hr {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* header */
header {
    background-color: orange;
    color: white;
    padding: 30px;
    min-height: 70px;
    border-bottom: black 4px solid;
}

header ul {
    margin: 0;
    padding: 0;
}

header a {
    color: black;
}


header img {
    width: 80px;
    margin-top: 10px;
    float: left;
}

header #brand-name {
    float: left;
}

header #brand-name h1 {
    float: left;
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 55px;
}

header li {
    color: white;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    
}

header li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header li a:hover {
    color: black;
    text-decoration: underline;
}


/* welcome section */
#welcome-section {
    color: white;
    min-height: 400px;
    background: url('img/office.png') no-repeat;
    background-position: center;
    background-size: 120%;
    text-align: center;
}

#welcome-section h1 {
    font-size: 60px;
    margin-top: 80px;
    text-shadow: 4px 4px 10px gray;
}

#welcome-section p {
    font-size: 20px;
    text-shadow: 4px 4px 10px black;
}


/* joke section */
#joke-section {
    margin-top: 50px;
    text-align: center;
}

#joke-section #joke-btn{
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#joke-section #joke-display {
    color: darkgray;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: orange;
}

#joke-section #joke-btn:hover {
    color: black;
}

/* connect section */
#connect-section {
    margin-top: 50px;
}

#connect-section .container .inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#connect-section h1{
    color: orange;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#connect-section .box {
    text-align: center;
    width: 30%;
    padding: 5px;
}


#connect-section .box img {
    width: 80px;
}


/* experience section */
#experience-section h1{
    color: orange;
    text-align: center;
    font-size: 30px;
}

#experience-section .experience h2 {
    text-decoration: underline;
    margin-top: 50px;
}

#experience-section .experience table{
    width: 100%;
}

#experience-section .experience table td,th {
    text-align: center;
    width: 150px;
}


.first_col {
    padding-left: 30px;
    text-align: left;
}

.last_col {
    padding-right: 30px;
    text-align: right;
}

th {
    line-height: 30px;
}

#experience-section ul {
    margin-left: 20px;
}


/* contact section */
#contact-section h1{
    color: orange;
    font-size: 30px;
    text-align: center;
}

#contact-section p {
    font-size: 16px;
    text-align: center;
}


/* footer */
footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 50px 0 0 0;
}


@media (max-width: 1000px){

    header #brand-name {
        text-align: center;
        float: none;
    }

    header nav {
        float: none;
        margin-top: 10px;
    }

    header nav ul li{
        text-align: center;
        display: block;
    }

    #welcome-section {
        color: white;
        background: url('img/office.png') no-repeat;
        background-position: center;
        background-size: 120%;
        text-align: center;
    }

    #welcome-section h1 {
        font-size: 40px;
        margin-top: 30px;
        text-shadow: 4px 4px 10px gray;
    }
    
    #welcome-section p {
        font-size: 20px;
        text-shadow: 4px 4px 10px black;
    }


    #connect-section {
        margin-top: 10px;
    }
    
    #connect-section h1{
        color: orange;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }

    #connect-section .container .inner-container {
        display: block;
    }
    
    #connect-section .box {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }


    .first_col {
        padding-left: 0px;
        text-align: left;
    }
    
    .last_col {
        padding-right: 0px;
        text-align: right;
    }
}